<%= render 'icon' %>
<p id="notice"><%= notice %></p>

<h1>Pictures</h1>
<h3 class = "btn btn-primary "><%= link_to 'New Picture', new_picture_path, class:"text-reset" %></h3>

<div class = "card_box d-flex align-content-start flex-wrap">
  <% @pictures.reverse_each do |picture| %>
    <div class = "card border border-dark m-2">
      <%= image_tag picture.image.url, class:"image card-img-top" %>
      <img src="/assets/6668d470.jpg" alt="favorite" class = "favorite_img">
      <p class = "favorite_count"><%= picture.favorites.count %></p>
      <div class = "card-body ">
        <div class = "card-title">
          投稿者：<%= picture.user.name %>
          <%= image_tag picture.user.image.url, height:"50px", width:"50px",class:"rounded-circle border border-dark" %>
        </div>
          <div class = "card-text">
            <p class = "mr-auto">コメント:<%= picture.coment %></p>
            <div class = "d-flex flex-row-reverse bd-highlight">
              <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }, class:"p-2" %>
              <%= link_to 'Edit', edit_picture_path(picture), class:"p-2" if picture.user_id == session[:user_id] %>
              <%= link_to 'Show', picture, class:"p-2" %>
            </div>
          </div>
      </div>
    </div>
  <% end %>
</div>