<!DOCTYPE html>
<html>
  <head>
    <title>Aonogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/logout' unless URI.parse(request.url).path == new_login_path || URI.parse(request.url).path == new_account_path  %>
    <%= yield %>
  </body>

</html>
